* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    background: rgb(32, 218, 86);
    background: linear-gradient(
      90deg,
      rgba(32, 218, 86, 1) 23%,
      rgba(0, 255, 156, 1) 100%
    );
  }

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 92%;
    width: 85%;
    border: 1px black solid;
    overflow: hidden;
}

.search-area {
    background-color: blueviolet;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3.2rem 0rem 3.2rem;
}

.main-area {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: blue;
    height: 100%;
}

.saved-list {
    background-color: red !important;
    min-height: 100%
}

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

.cep-list {
    list-style: none;
}

.saved-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.bookmarks-container {
    width: 85%;
    background-color: aquamarine;
    margin-top: 2.4rem;
    padding: 1.6rem 1.8rem 1.6rem 1.8rem;
}


.bookmarks-container:not(:first-child) {
    margin-top: 1.2rem;
}
.cep-number {
    margin-bottom: 1.2rem;
}

.cep-description-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.cep-description-list li {
    display: flex;
    flex-direction: column;
}

